
BODY {
  font-family: sans-serif;
}

TABLE, TD, TH {
  border-collapse: collapse;
  text-align: center;
  border: solid black 1px;
  padding: 0.5ex;
}

TABLE {
  font-size: smaller;
}

TH {
  font-weight: bold;
  background: LemonChiffon;
}

/* not working */
#antibiotic-resistance-genes > TABLE { 
  -webkit-writing-mode: vertical-rl; 
  -ms-writing-mode: tb-rl; 
  writing-mode: vertical-rl; 
}

.binomial {
  text-align: left;
  font-family: serif;
  font-style: italic;
}

.pass {
  color: green;
  font-size: larger; 
  font-weight: bold;
}

.fail {
  color: red;
  font-size: larger; 
  font-weight: bold;
}

.dunno {
  color: orange;
  font-size: larger; 
  font-weight: bold;
}

