
BODY {
  font-family: sans-serif;
}

TABLE, TD, TH {
  border-collapse: collapse;
  text-align: center;
  border: solid black 1px;
  padding: 0.5ex;
}

TABLE {
  font-size: smaller;
}

TH {
  font-weight: bold;
  background: LemonChiffon;
  vertical-align: middle;
}

/* for vertical TH elements */
DIV.vertical {
  white-space: nowrap;
  /* try different ways to make it vertical */
  -webkit-writing-mode: vertical-rl; 
  -ms-writing-mode: tb-rl; 
  writing-mode: vertical-rl; 
  filter: flipv fliph; 
  /* make it centered */
  margin-left: auto;
  margin-right: auto;
}

.binomial {
  text-align: left;
  font-family: serif;
  font-style: italic;
}

.trafficlight {
  font-size: larger;
  font-weight: bold;
}

.pass {
  color: green;
  font-size: larger; 
  font-weight: bold;
}

.fail {
  color: red;
  font-size: larger; 
  font-weight: bold;
}

.dunno {
  color: orange;
  font-size: larger; 
  font-weight: bold;
}

.dunno:hover {
  cursor: help;
}

.allele {
  font-style: italic;
}

.missing {
  color: red;
  font-weight: bold;
}

.novel {
  color: orange;
}

.known {
  
}

